<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>한진정보통신 오픈이노베이션 프로그램 - innoHI</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- =======================================================
  * Page Name: event
  * Page URL: https://www.innohist.co.kr/event
  * Author: ikwon@hist.co.kr
  * Remark : 세미나 및 컨퍼런스
  ======================================================== -->
  <script src="../assets/js/common.js"></script>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
  	 <script src="../assets/js/header.js"></script>
  	 
  </header><!-- End Header -->
  

  <main id="main">
  
    <!-- ======= Banner ======= -->
    <!-- <div class="">
      <img src="../assets/img/innohi/banner_org1.jpg" class="img-fluid" alt="">
    </div> -->
    <!-- End Banner -->

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs" style="background-color: white;">
      <div class="container">
      </div>
    </section>
    <!-- End Breadcrumbs -->

  <!-- ======= Blog Single Section ======= -->
   <section id="blog" class="blog">
     <div class="container" data-aos="fade-up">

       <div class="row">

         <div class=" entries">

           <article class="entry entry-single">

            <div class="section-title">
            <img id="Img" src="../assets/img/event/SUMMER SUMMIT.png" onerror="javascript:this.src=''" alt="ci" style="border: 1px solid rgb(219, 219, 219); margin-bottom: 30px; width: 500px;">
            </div>

             <h2 class="entry-title">
               <a href="blog-single.html">Dolorum optio tempore voluptas dignissimos cumque fuga qui quibusdam quia</a>
             </h2>

             <div class="entry-meta">
               <ul>
                 <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">John Doe</a></li>
                 <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>
                 <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li>
               </ul>
             </div>

             <div class="entry-content">
               <p>
                 Similique neque nam consequuntur ad non maxime aliquam quas. Quibusdam animi praesentium. Aliquam et laboriosam eius aut nostrum quidem aliquid dicta.
                 Et eveniet enim. Qui velit est ea dolorem doloremque deleniti aperiam unde soluta. Est cum et quod quos aut ut et sit sunt. Voluptate porro consequatur assumenda perferendis dolore.
               </p>

               <p>
                 Sit repellat hic cupiditate hic ut nemo. Quis nihil sunt non reiciendis. Sequi in accusamus harum vel aspernatur. Excepturi numquam nihil cumque odio. Et voluptate cupiditate.
               </p>

               <h3>Et quae iure vel ut odit alias.</h3>
               <p>
                 Officiis animi maxime nulla quo et harum eum quis a. Sit hic in qui quos fugit ut rerum atque. Optio provident dolores atque voluptatem rem excepturi molestiae qui. Voluptatem laborum omnis ullam quibusdam perspiciatis nulla nostrum. Voluptatum est libero eum nesciunt aliquid qui.
                 Quia et suscipit non sequi. Maxime sed odit. Beatae nesciunt nesciunt accusamus quia aut ratione aspernatur dolor. Sint harum eveniet dicta exercitationem minima. Exercitationem omnis asperiores natus aperiam dolor consequatur id ex sed. Quibusdam rerum dolores sint consequatur quidem ea.
                 Beatae minima sunt libero soluta sapiente in rem assumenda. Et qui odit voluptatem. Cum quibusdam voluptatem voluptatem accusamus mollitia aut atque aut.
               </p>

               
               <h3>Travel & Hospitality.</h3>
               <p>
                여행 산업과 호텔 관광 산업에 적용 가능한 신기술에 대한 Session 및 관련 스타트업 소개
               </p>
               <iframe width="560" height="315" src="https://www.youtube.com/embed/tHoFJt9omDQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             
               <h3>Travel & Hospitality.</h3>
               <p>
                여행 산업과 호텔 관광 산업에 적용 가능한 신기술에 대한 Session 및 관련 스타트업 소개
               </p>
               <iframe width="560" height="315" src="https://www.youtube.com/embed/tHoFJt9omDQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             
              </div>

             <div class="entry-footer">
               <i class="bi bi-folder"></i>
               <ul class="cats">
                 <li><a href="#">Business</a></li>
               </ul>

               <i class="bi bi-tags"></i>
               <ul class="tags">
                 <li><a href="#">Creative</a></li>
                 <li><a href="#">Tips</a></li>
                 <li><a href="#">Marketing</a></li>
               </ul>
             </div>

           </article><!-- End blog entry -->


         </div><!-- End blog entries list -->

       </div>

     </div>
   </section><!-- End Blog Single Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <script src="../assets/js/footer.js"></script>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script src="../assets/js/common copy.js"></script>
  <script type="text/javascript">

function addGoogleCalender() {
        if (confirm("구글 캘린더에 일정을 추가할까요?")) {
            var startDate = "20211203T100000Z";
            var closeDate = "20211203T113000Z";
            var url = "https://www.google.com/calendar/render?action=TEMPLATE";
            url += "&details=https://event-us.kr/40363";
            url += "&dates=" + startDate + "/" + closeDate;
            url += "&location=가산W센터(서울 금천구 가산디지털1로 181)";
            url += "&text=%3c%ed%9e%90%eb%a7%81%eb%af%b9%ec%84%9c+%ec%9e%ac%ec%a6%88%ec%82%b4%eb%a1%b1%3e+%2c+%ec%86%90%ec%97%90+%ec%86%90%ec%9e%a1%ea%b3%a0";
            window.open(url, '_blank');
        }
    }

    $(document).ready(function () {
    });
  </script>

</body>

</html>