<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>한진정보통신 오픈이노베이션 프로그램 - innoHI</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- =======================================================
  * Page Name: event
  * Page URL: https://www.innohist.co.kr/event
  * Author: ikwon@hist.co.kr
  * Remark : 세미나 및 컨퍼런스
  ======================================================== -->
  <script src="../assets/js/common.js"></script>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
  	 
  </header><!-- End Header -->
  

  <main id="main">
  
    <!-- ======= Banner ======= -->
    <!-- <div class="">
      <img src="../assets/img/innohi/banner_org1.jpg" class="img-fluid" alt="">
    </div> -->
    <!-- End Banner -->

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs" style="background-color: white;">
      <div class="container">
      </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- ======= About Us Section ======= -->
		<!-- <section id="about" class="about">
			<div class="container" data-aos="fade-up">
	  
			  <div class="section-title">
				<h2 style="text-transform: capitalize;">세미나 및 컨퍼런스</h2>
			  </div>
	  
			  <div class="row content">
				<div class="col-lg-6">
				  <p>
					스타트업 & 지원기관의 투자라운딩 소식, 모집 소식,주요 뉴스 등 최신정보(DB)를 검색하고,구독과 알림을 통해 연결성을 강화합니다.
				  </p>
				  <ul>
					<li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
					<li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
					<li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
				  </ul>
				</div>
				<div class="col-lg-6 pt-4 pt-lg-0">
				  <p>
					Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
					velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
					culpa qui officia deserunt mollit anim id est laborum.
				  </p>
				  <a href="#" class="btn-learn-more">Learn More</a>
				</div>
			  </div>
	  
			</div>
		</section> -->
    <!-- End About Us Section -->

    <!-- <section class="inner-page">
      <div class="container" id='calendar'>
      </div
    </section> -->

     <!-- ======= Portfolio Section ======= -->
     <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>세미나 및 컨퍼런스</h2>
          <p>스타트업 & 지원기관의 투자라운딩 소식, 모집 소식,주요 뉴스 등 최신정보(DB)를 검색하고,구독과 알림을 통해 연결성을 강화합니다.</p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">전체</li>
          <li data-filter=".filter-ing">진행중</li>
          <li data-filter=".filter-come">예정</li>
          <li data-filter=".filter-finish">마감</li>
        </ul>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-ing">
            <div class="portfolio-img"><img src="../assets/img/event/APAC SUMMIT 2021.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>App 1</h4>
              <p>App</p>
              <a href="../assets/img/event/APAC SUMMIT 2021.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="eventDetail.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-ing">
            <div class="portfolio-img"><img src="../assets/img/event/SUMMER SUMMIT.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <a href="../assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="eventDetail.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-ing">
            <div class="portfolio-img"><img src="../assets/img/event/nextrise 2021.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
              <a href="../assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-come">
            <div class="portfolio-img"><img src="../assets/img/event/comeup.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Card 2</h4>
              <p>Card</p>
              <a href="../assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="https://www.kcomeup.com/part/part_sign.jsp" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-finish">
            <div class="portfolio-img"><img src="../assets/img/event/WINTER SUMMIT.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <a href="../assets/img/event/WINTER SUMMIT.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script src="../assets/js/common copy.js"></script>
  <script src="../assets/js/headerFooter.js"></script>
  <script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function () {
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {

        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,listYear'
        },

        displayEventTime: false, // don't show the time column in list view

        // THIS KEY WON'T WORK IN PRODUCTION!!!
        // To make your own Google API key, follow the directions here:
        // http://fullcalendar.io/docs/google_calendar/
        googleCalendarApiKey: 'AIzaSyDcnW6WejpTOCffshGDDb4neIrXVUA1EAE',

        // US Holidays
        events: 'en.usa#holiday@group.v.calendar.google.com',

        eventClick: function (arg) {
          // opens events in a popup window
          window.open(arg.event.url, 'google-calendar-event', 'width=700,height=600');

          arg.jsEvent.preventDefault() // don't navigate in main tab
        },

        // loading: function(bool) {
        //   document.getElementById('loading').style.display =
        //     bool ? 'block' : 'none';
        // }

      });

  //    calendar.render();
    });


    $(document).ready(function () {
    });
  </script>

</body>

</html>